.handle {
    margin: 3px;
    border-radius: 8px;
    height: 30px;
}
img {
    height: 45px;
}
.handle img{
    height: 25px;
    } 
.buttons {
    display: flex
}

.table-border {
    border: 2px solid black;
}

.editAlert {
    height: 45px;
}
